aiohttp==3.9.0
backports.zoneinfo==0.2.1;python_version<"3.9"
discord.py==2.3.2
flask[async]==3.0.0
gunicorn==21.2.0
opengsq==2.2.4
psycopg2-binary==2.9.9
pymongo==4.6.0
python-dotenv==1.0.0
pywin32==306;platform_system=="Windows"
typing-extensions==4.8.0;python_version<"3.10"
tzdata==2023.3
