aiohttp==3.9.3
backports.zoneinfo==0.2.1;python_version<"3.9"
discord.py==2.3.2
flask[async]==3.0.2
gunicorn==21.2.0
opengsq==3.0.10
psycopg2-binary==2.9.9
pymongo==4.6.1
python-dotenv==1.0.1
pywin32==306;platform_system=="Windows"
typing-extensions==4.8.0;python_version<"3.10"
tzdata==2024.1
